.reservationsCards {
  box-sizing: border-box;
  border: 3px solid #1e8080;
  padding: 10px;
  color: #1e8080;
  background-color: white;
  border-radius: 5%;
  width: 200px;
}

.cancel-button {
  background-color: #1e8080;
  width: 150px;
  height: 30px;
  color: white;
  border: none;
}

/* need to change display to flex/grid */